{% extends 'base.html.twig' %}

{% block title parent()~"Voir command" %}

{% block body %}
<div class="container">
    <h1>Command de {{produit.nom}}!</h1>
    <div class="row text-muted">
        <div class="p-3 col-md-9 border mx-auto bg-light">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ vich_uploader_asset(produit)| imagine_filter('image_edit') }}" alt="photo du produit">
                </div>
                <div class="col-md-9">
                    <div class="float-right">
                        <a class="d-block" href="{{ path('eco_panier') }}">retourner à mes commandes</a>
                        <span class="text-info prix">{{ produit.prix }} AR</span>
                        <p>au lieu de <strong><del>{{ produit.prixIntitial }} AR</del></strong> <span class="p-1 border-white bg-success rounded text-white">{{ (produit.prix - produit.prixIntitial) *100/ produit.prixIntitial }}%</span></p>
                    </div>
                    <div class="col-md-7">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quam eaque eligendi alias officia fugit.</p>
                        <div>
                            <p class="btn retourP text-primary">Plus d'information</p>
                            <ul class="d-none">
                                <li>Produit de type: {{produit.type.genre}}</li>
                                <li>Disponible depuis: {{produit.creation|date("Y/m/d")}}</li>
                                <li>Rest en stock: {{produit.stock}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
